/*--------------------------------------------------------------
# home.php
--------------------------------------------------------------*/


    
    .quote-author {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        font-size: 1.2rem;
         li {
             padding-right: 30px;
         }
      
    }

   
    
    .quote-tags {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        font-size: 1.2rem;
        li {
            padding-right: 30px;
        }
    }

    
    
    .quote-categories>.categories {
    position: relative;
    list-style: none;
    font-size: 1.5rem;

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        word-spacing: 2px;
        font-size: 1.2rem;
        li {
            padding-right: 30px;
            
        }
    }
}

.title-category {
    border-bottom : $border__dashed;
    padding-bottom: 45px;
}

.category-title {
    border-bottom : $border__dashed;
    padding-bottom: 20px;
}