/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-footer {
    font-size: 1.3rem;
    margin-top: 5em;

        @include breakpoint(tablet) {
            display: flex;
            font-size: .92rem;
        }

        @include breakpoint(desktop) {
            position: absolute;
            left: 45%;
            
        }
}

.menu>ul {
    display: flex;
    list-style: none;
   padding: 0;
   margin:0;
 
   
    li {
        padding: 0 18px;
        border-left: 2px solid white;
        position: relative;
        right: 23px;

        @include breakpoint(tablet) {
            border-right: 2px solid white;
            border-left: none;
        }
    }
}

.footer-link {
    display: block;

    @include breakpoint(tablet) {
        position: relative;
        bottom: 15px;
    }

    @include breakpoint(desktop) {
        right: 0;
    }
}