/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $color__text-brand;
	border-radius: 3px;
	background: transparent;
	font-size: 1rem;
	line-height: 1;
	padding: 1rem 2.5rem;
	color: $color__text-brand;

	&:hover {
		border-color: $color__text-main;
		background: $color__text-brand;
		color: $color__text-main;
	}

	
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-brand;
	border-color: $color__text-brand;
	border-radius: 3px;
	background: transparent;


	&:focus {
		color: $color__text-brand;
		border-color: $color__text-brand;

	}
}



textarea {
	padding-left: 3px;
	width: 100%;
}
