/*--------------------------------------------------------------
# home.php
--------------------------------------------------------------*/


    
    
//     @include breakpoint(desktop) {
//     display: flex;
//     justify-content: center;
//     }
// }

.home-logo {
    margin: 3em 0;
    
}

.main-navigation {
    @include breakpoint(desktop) {
        text-align: center;
    }
}

.home-logo {
    width: 425px;
    @include breakpoint(tablet) {
        width: 575px
    }
    @include breakpoint(desktop) {
        width: 675px;
    }
}

.leftquote {
    font-size: 120px;
    position: absolute;
    top: 300px;
}

.rightquote {
    font-size: 120px;
    position: absolute;
    top: 400px;
    left: 90vw;
    display: none;
}



.quote-holder::before {

@include breakpoint(desktop){
    font-family: FontAwesome;
    font-size: 130px;
    content: "\f10d";
    position: absolute;
    color: $color__text-brand;
    top: 174px;
    left: 150px;
}
}
.quote-holder::after  {
@include breakpoint(desktop) {
    font-family: FontAwesome;
    font-size: 130px;
    content: "\f10e";
    position: absolute;
    color: $color__text-brand;
    top: 174px;
    right: 165px;
}
}