/*--------------------------------------------------------------
# home.php
--------------------------------------------------------------*/


    
    
//     @include breakpoint(desktop) {
//     display: flex;
//     justify-content: center;
//     }
// }

.home-logo {
    margin: 3em 0;
    
}

.main-navigation {
    @include breakpoint(desktop) {
        text-align: center;
    }
}

.home-logo {
    width: 550px;
    @include breakpoint(tablet) {
        width: 700px
    }
    @include breakpoint(desktop) {
        width: 940px;
    }
}

.leftquote {
    font-size: 120px;
    position: absolute;
    top: 300px;
}

.rightquote {
    font-size: 120px;
    position: absolute;
    top: 400px;
    left: 90vw;
    display: none;
}

.site-content::before {
    font-family: FontAwesome;
    font-size: 153px;
    content: "\f10d";
    position: absolute;
    color: $color__text-brand;
    top: 22%;
    right: 88%;
}

.site-content::after {
    font-family: FontAwesome;
    font-size: 153px;
    content: "\f10e";
    position: absolute;
    color: $color__text-brand;
    top: 22%;
    right: 2%;

}