/*--------------------------------------------------------------
# home.php
--------------------------------------------------------------*/


body {
    padding: 0 15px;
    min-width: 440px;
    @include breakpoint(desktop) {
        display: flex;
        justify-content: center;
        
    }
}



.site-main {

    @include breakpoint(desktop) {
        text-align: center;
        padding: 0 80px;
    }
 
}

.quote-main {
    font-size: 2em;
}

button {
    margin-top: 3em;

 
}
    


