/*--------------------------------------------------------------
# home.php
--------------------------------------------------------------*/


    
    
.submit-page {
    @include breakpoint(desktop){
        text-align: left;
    }
}


.author{
    padding-right: 20%;
}

.quote {
    padding: 0 30% 10% 0%;

    @include breakpoint(tablet) {
        padding: 0 64% 10% 0%;
    }
}

.source {
    padding-right: 20%;
}

.url {
    padding-right: 20%;
}sas
.main-form {
    line-height: 42px;
    button {
        margin-top: 1em;
    }

    input {
        border-style: solid;
    }
}

